body {
	color: #aaa;
	background-color: #000;
	min-height: 1200px;
	padding: 0px;
	padding-top: 1em;
}

.nav{
	position: relative;
	top: 0em;
	left: 0;
	width: 100%;
	padding: 1em 5em 0px 5em;
	color: #777;
	background-color: #000;
}

/* header */
.topbar{
	text-align: center;
	font: bold 46px Copperplate, Papyrus, fantasy;
}

/* Title bars */
.hd{
	color: #ccc;
	font: normal 24px Copperplate, Papyrus, fantasy;
	padding: 0px 15px 0px 15px;
}

/* main item name */
.mn{
	color: #ccc;
	font: normal 16px Copperplate, Papyrus, fantasy;
	padding: 0px 15px 0px 15px;
	margin-bottom: 0rem;
}

/* item price text */
.pr{
	color: #ccc;
	font: bold 16px Copperplate, Papyrus, fantasy;
	padding: 0px 0px 0px 11px;
}

/* table row indent */
.tr{
	padding: 0px 0px 0px 15px;
	background-color: #333;
	border-style: hidden;
}

/* item description indent */
.des{
	color: #aaa;
	padding: .5em 15px 0px 25px;
	margin-bottom: 0rem;
	font: italic 14px Copperplate, Papyrus, fantasy;
}

/* reduce colum spacing */
.pri, .td, .col-md-4, .col-md-5,.col-md-6, .col-md-7{
	padding: 0px .5em 0px .5em;
	margin: 0px;
}

/* drink item name text */
.dr{
	text-align: center;
	font: normal 16px Copperplate, Papyrus, fantasy;
	padding: 0px;
	color: #ccc;
}

.cn{
	text-align: center;
	font: normal 16px Copperplate, Papyrus, fantasy;
	padding: 0px;
	margin: 0px;
	color: #ccc;
}
/* footer */
.footer{
	padding: 1em ;
	margin: 0em 0em 1em 0em;
	/* background-color: #111; */
}

.con, .sm{
	padding: 0em;
	margin: 0em 0em 0em 0em;
	text-align: center;
}

.tx{
	padding: 1em;
	margin:  1em;
}

.btn{
	width: 100%;
	margin:  0em;
}

/* buttons unused */
.btn-dark{
	background-color: #000;
}

.btn-light{
	background-color: #aaa;
}

.btn-primary{
	background-color: #333;
}

.btn-success{
	background-color: #cc0;
	font: #000;
}
.btn-info{
	background-color: #f0f;
}
