body {
	color: #fff;
	background-color: #222;
	min-height: 1200px;
	padding: 0px;
	padding-top: 7em;
}

.nav{
	position: fixed;
	top: 0em;
	left: 0;
	width: 100%;
	padding: 1em 5em 0px 5em;
	color: #777;
	background-color: #222;
}
.zoom {
  padding: 5px;
  background-color: #ccc;
  transition: transform .2s; /* Animation */
  margin: 0 auto;
}

.zoom:hover { 
  transform: scale(2.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/* header */
.topbar{
	text-align: center;
	font: bold 46px Copperplate, Papyrus, fantasy;
}
.t2{
	background-color: #c07;
	text-align: center;
	font: bold 46px Copperplate, Papyrus, fantasy;
}
.t3{
	background-color: #077;
	text-align: center;
	font: bold 46px Copperplate, Papyrus, fantasy;
}

/* Title bars */
.hd{
	color: #fff;
	font: normal 44px Copperplate, Papyrus, fantasy;
	padding: 0px 15px 0px 15px;
}

/* main item name */
.mn{
	color: #fff;
	font: normal 21px Copperplate, Papyrus, fantasy;
	padding: 0px 15px 0px 15px;
	margin-bottom: 0rem;
}

/* item price text */
.pr{
	color: #ccc;
	font: bold 16px Copperplate, Papyrus, fantasy;
	padding: 0px 0px 0px 11px;
}

/* table row indent */
.tr{
	padding: 0px 0px 0px 15px;
	background-color: #333;
	border-style: hidden;
}

/* item description indent */
.des{
	color: #fff;
	padding: .5em 3em 0px 25px;
	margin-bottom: 0rem;
	font: italic 16px Copperplate, Papyrus, fantasy;
}

/* reduce colum spacing */
.pri, .td, .col-md-4, .col-md-5,.col-md-6, .col-md-7{
	padding: 0px .5em 0px .5em;
	margin: 0px;
}

/* drink item name text */
.dr{
	text-align: center;
	font: normal 16px Copperplate, Papyrus, fantasy;
	padding: 0px;
	margin: 0px;
	color: #fff;
}

.cn{
	text-align: center;
	font: normal 16px Copperplate, Papyrus, fantasy;
	padding: 0px;
	margin: 0px;
	color: #fff;
}
/* footer */
.footer{
	padding: 1em ;
	margin: 0em 0em 1em 0em;
	/* background-color: #111; */
}

.con, .sm{
	padding: 0em;
	margin: 0em 0em 0em 0em;
	text-align: center;
}

.tx{
	padding: 1em;
	margin:  1em;
}

.btn{
	width: 100%;
	margin:  0em;
}

/* buttons unused */
.btn-dark{
	background-color: #000;
}

.btn-light{
	background-color: #aaa;
}

.btn-primary{
	background-color: #333;
}

.btn-success{
	background-color: #cc0;
	font: #000;
}
.btn-info{
	background-color: #f0f;
}
div.scroll-container {
  background-color: #333;
  width: auto;
  overflow-y: clip;
  display: flex;
  overflow-x: scroll;
  gap: 2px;
}

div.scroll-container img {
  padding: 10px;
}
